<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${pageName}"></title>
</head>
<body>
<div>
    <div>
        <form action="/createTask" method="post">
            <div>
                <input type="text" placeholder="Add Task title..." name="name" required>
            </div>
            <div>
                <button class="btn btn-primary btn-sm">Add Task</button>
            </div>
        </form>
    </div>
    <hr>
    <h1>
        Tasks List
    </h1>
    <th:block th:each="task : ${tasks}">
        <div>
            <span th:text="${task.name}">Task Title</span>
        </div>
    </th:block>
</div>
</body>
</html>